    <!--navagation panel-->
    <nav class="nav">
                
        <a href="index"><b>Home</b></a>
        <a href="grooming"> <b>Grooming Services</b></a>
        <a href="contactUs"><b>Contact US</b></a>
        <a href="boarding"><b>Boarding</b></a>
        <a href="training"><b>Training</b></a>
        <a href="registration"><b>Registration</b></a>
        <a href="customer-list"><b>Customer List</b></a>
        <a href="appointment"><b>Appointments</b></a>
        <a href="my-appointments"><b>My Appointments</b></a>
        
    
    </nav>