    <!--navagation panel-->
    <nav class="nav">
                
        <a href="index.ejs"><b>Home</b></a>
        <a href="grooming.ejs"> <b>Grooming Services</b></a>
        <a href="contactUs.ejs"><b>Contact US</b></a>
        <a href="boarding.ejs"><b>Boarding</b></a>
        <a href="training.ejs"><b>Training</b></a>
        <a href="registration.ejs"><b>Registration</b></a>
    
    </nav>