<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale="1">
        <link rel="stylesheet" href="public/styles/styles.css">
    </head>
    
<body>

    <div class="row">

        <header><!--holder for nav-->

            <nav class="nav">
                
                <a href="index.html"><b>Home</b></a>
                <a href="grooming.html"> <b>Grooming Services</b></a>
                <a href="contactUs.html"><b>Contact US</b></a>

            </nav>

        </header>

        <div><!--holder for title, pic and services-->

            <div class="content">
                <h1><b>Grooming Services</b></h1>
                <ul>
                    <li>Full Bath and Brush $150.00</li>
                    <li>Hair Cut $45.00</li>
                    <li>Nail Trim $12.00</li>
                    <li>Bath $75.00</li>
                </ul>
            </div>

            <div class="img">
                <img src="public/images/wetDog.jpg" alt="wet">
                <P>
                    We understand finding an amazing dog groomer is hard. 
                    Our groomers deliver a wonderful experience for you and your dog. 
                    You will find highly trained, caring groomers and an atmosphere thoughtfully designed to provide more than just a groom. 
                    It’s our honor to provide your pet with thoughtful attention and care. Our dog groomers employ tender care and patience when 
                    grooming your loved ones. From nail trims to full-body grooms, our groomers are here to make sure your dog is healthy while 
                    looking incredible.
                </P>
            </div>

        </div>

        <footer>
            <p>EitherWorld Productions 2023</p></p>
        </footer>
    
    </div>

</body>