<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale="1">
        <link rel="stylesheet" href="/styles/styles.css">
        
    </head>
    
<body>

    <div class="row">

        <!--header-->

        <%- include("../partials/header.ejs") %> 

        <%- include("../partials/nav.ejs") %> 
 

<div><!--holder for title, pic and hours-->
    <div class="content">
        
        <p>With people who have a shared passion for caring for dogs. We have over 10 years of experience in the pet industry and are beyond excited to welcome your dog as part of our family!<br>
            your dogs happiness, safety, and well-being is our top priority. Your dog will have plenty of exercise in our (2,000 sq. ft yard) during their 3-5 let outs during the day.  You have 
            the option of choosing from two boarding spots in our facility. Standard Kennel rooms are a cozy option for your pup and each kennel has access to an outdoor run.  You can also treat 
            your dog to ultimate comfort in one of our four luxury suites.we strive to provide our clients with the best service possible. 
            Our chief mission is to provide your dog with a safe environment to experience the benefits of socialization and exercise while you are at work or out-of-town, or any other time you 
            want your dog to have a good time.
            During your dog’s stay, we offer small groups of socialized dog care, as well as individual, non-socialized dog care, depending on your dogs individual personality and needs. Check out some of our add-on services to give your pup some extra TLC during their stay!
        </p>
    </div>

    <div class="img">
        <img src="/images/catDog.jpg" alt="catDog">
        <P>
            Address: 124 highland ave, nowhere usa
        </P>
    </div>

</div>

    <div class="hrs">

        <h4><b><i>Hours</i></b></h4>
        <ul>
            <li>Mon - Fri: 8am-4:30</li>
            <li>Sat:  12:30-3:00</li>
            <li>Sun: <i>-Appoinment Only-</i></li>
        </ul>
    </div>

    <div class="contentBottom">
    <side class="weeklyDog">

        <h4><b><i>Dog of the Week</i></b></h4>
        <p>This is stella. Stella is a sweet shih tzu who loves to play
             and interact with all types of animals.</p>
        <img class="pic" src="/images/stella.jpg" alt="weeklyDog">
        
    </side>

    <main class="form">

        <p style="padding: 20px;">Contact US</p>
        <form id="usrForm">
            <label for="name">Name:</label><br>
                <input type="text" name="name"><br>
            <label for="email">Email:</label><br>
                <input type="email" name="email"><br>
            <label for="comment">Comment:</label><br>
                <textarea name="comment" form="usrForm"></textarea><br>
            <input type="submit" id="subBtn" value="submit">
        </form>
    </main>
    </div>

<div><!--holder for testamaonials and contact form-->

    <div class="testamonials">

        <h3><i>Testamonials</i></h3>
            <blockquote>I absolutely love this place!</blockquote>
            <blockquote>Great service! My pit bull was well taken care of.</blockquote>
            <blockquote>Check in and out was fast. .We enjoy receiving his report card when we picked him up The staff is a!ways friendly and knowledgeable.</blockquote>
    </div>

    

</div>

<!--footer-->

<%- include("../partials/footer.ejs") %>

</div>

</body>
</html>