<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale="1">
        <link rel="stylesheet" href="public/styles/styles.css">
        
    </head>
    
<body>

    <div class="row">

        <header><!--holder for nav-->
            <nav class="nav">
                
                <a href="index.html"><b>Home</b></a>
                <a href="grooming.html"> <b>Grooming Services</b></a>
                <a href="contactUs.html"><b>Contact US</b></a>

            </nav>

        </header>

<div><!--holder for title, pic and hours-->
    <div class="content">
        <h1><b>Pets R Us</b></h1>
        <p>.......content.....</p>
    </div>

    <div class="img">
        <img src="public/images/catDog.jpg" alt="catDog">
        <P>
            Address: 124 highland ave, nowhere usa
        </P>
    </div>

</div>

    <div class="hrs">

        <h4><b><i>Hours</i></b></h4>
        <ul>
            <li>Mon - Fri: 8am-4:30</li>
            <li>Sat:  12:30-3:00</li>
            <li>Sun: <i>-Appoinment Only-</i></li>
        </ul>
    </div>

    <div class="weeklyDog">

        <h4><b><i>Dog of the Week</i></b></h4>
        <p>......</p>
        <img class="pic" src="public/images/stella.jpg" alt="weeklyDog">
        
    </div>

    <div class="form">

        <p style="padding: 20px;">Contact US</p>
        <form id="usrForm">
            <label for="name">Name:</label><br>
                <input type="text" name="name"><br>
            <label for="email">Email:</label><br>
                <input type="email" name="email"><br>
            <label for="comment">Comment:</label><br>
                <textarea name="comment" form="usrForm"></textarea><br>
            <input type="submit" id="subBtn" value="submit">
        </form>
    </div>


<div><!--holder for testamaonials and contact form-->

    <div class="testamonials">

        <h3><i>Testamonials</i></h3>
            <blockquote>I absolutely love this place!</blockquote>
            <blockquote>Great service! My pit bull was well taken care of.</blockquote>
            <blockquote>Check in and out was fast. .We enjoy receiving his report card when we picked him up The staff is a!ways friendly and knowledgeable.</blockquote>
    </div>

    

</div>

<footer>
    <p>EitherWorld Productions 2023</p></p>
</footer>

</div>

</body>
</html>