<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale="1">
        <link rel="stylesheet" href="/styles/styles.css">
        
    </head>
    
<body>

    <div class="row">

        <!--header-->

        <%- include("../partials/header.ejs") %> 

        <!--holder for nav-->

        <%- include("../partials/nav.ejs") %>

 <!--content area-->

            





 
<!--footer-->

<%- include("../partials/footer.ejs") %>

    </div>

</body>
</html>